.register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    .register-card {
        background: rgb(79, 73, 73);
        padding: 40px;
        width: 400px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

        h2 {
            text-align: center;
            margin-bottom: 25px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 12px;
                border: 1px solid #ddd;
                border-radius: 6px;
                font-size: 14px;

                &:focus {
                    outline: none;
                    border-color: #db9c2f;
                }
            }

        }

        p {
            padding-top: 0.5rem;
        }
    }
}